<!DOCTYPE html>
<html lang="en">
    <head>
        <title>partyCoin - Australia's Political Party Funds Tracker </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript">google.load("visualization", "1", {packages:["corechart"]});
        </script>
    </head>
    {% load humanize %}
    <body>
    <div class="container">
        <h1>Detailed Party View: {{ party }}, {{ year }}</h1>
    </div>
    <div class="container">
        <h2>Annual Donations </h2>
            <div class="col-lge-1">
                <img src="data:image/png;base64,{{ chart }}"/> 
            </div>

            <div class="col-lge-2">
                {% for item in amounts_by_value.items|sort reversed %}
                    <div class="col-sml-2">
                        <p align="center"> <a href="/funds_tracker/donor/"> {{ item.1 }} </a></p>
                        <p align="center"> ${{ item.0|intcomma }} </p>
                    </div>
                {% endfor %}
            </div>
    </div>
    </body>
</html>
