<!DOCTYPE html>
<html lang="en">
    <head>
        <title>partyCoin - Australia's Political Party Funds Tracker </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    {% load humanize %}
    <body>
    <div class="container">
        <h1> All Donations </h1>
            <div class="row">
            {% if major_national_parties %}
                {% for value in major_national_parties.summary %}
                    <div class="col-lg-3">
                        <p align="center"><img src="{{value.2}}" style="height:100px" class="img-responsive"></p>
                        <p align="center">{{value.0}}</p>
                        <p align="center">${{value.1|intcomma}}</p>
                    </div>
                {% endfor %} 
            </div>
        {% endif %}
    </div>
</html>
